<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Speech To Text Demo</title>
    <meta name="description" content="Speech To Text Demo">

    <link href="{{ url_for('static', filename='styles/index.css') }}" rel="stylesheet" type="text/css" >
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
 <div class="file-browsing-content">
    <div id="file-browsing-left-panel" class="file-browsing-left-panel">
    </div>
    <div class="file-browsing-right-panel">
      <div class="file-selection-region">
        <h1 class="file-selection-region-header">
          <span>
<!--            <i class="material-icons">arrow_back</i>-->
          </span>
          <span>
            Files
          </span>
        </h1>
        <div class="file-selection-region-content">
          {%for i in range(0, files|length)%}
              <div class="file" data-path="{{url_for('static', filename=files[i].file_name)}}" onclick="setFile(this)">
                <i class="material-icons">audiotrack</i>
                <h1>{{files[i].file_name}}</h1>
                <!-- <p class="cooltip">{{files[i].file_name}}</p> -->
              </div>
          {%endfor%}
        </div>
      </div>
      <div class="data-preview-region">
        <h1>Audio Player</h1>
          <div id="audio-player-container">
          </div>
      </div>
    </div>
  </div>
  <script src="{{ url_for('static', filename='javascript/data_extraction.js') }}"></script>
  <script src="{{ url_for('static', filename='javascript/file_browser.js') }}"></script>
</body>
</html>